<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd" bootstrap="vendor/autoload.php" colors="true" backupGlobals="false" processIsolation="false" stopOnFailure="false">
    <testsuites>
        <testsuite name="Unit">
            <directory>./tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>./tests/Feature</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>./src</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="DOM_TRANSLATE_LOG_LEVEL" value="0"/>
        <env name="DOM_TRANSLATE_LOG_INDICATOR" value="domt-testing"/>
        <env name="DOM_TRANSLATE_PROVIDER" value="google"/>
        <env name="DOM_TRANSLATE_GOOGLE_KEY" value="YOUR_GOOGLE_KEY_HERE"/>
    </php>
</phpunit>
